body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}
.registration-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.registration-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.registration-container label {
    display: block;
    margin-bottom: 10px;
}
.registration-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.registration-container button {
    width: 100%;
    padding: 10px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
.registration-container button:hover {
    background-color: rgb(63, 94, 189);
}
.back-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.back-link a {
    text-decoration: none;
    color: #333;
}
.back-link a:hover {
    color: #555;
}